
header {
  width: 100%;
  height: 7vh;
  background-color:rgb(69,180,171);
  box-shadow: -7px -16px 161px 16px rgba(0,0,0,0.67);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo-aurora{
  width: 50px;
}

.title-dashboard{
  display: none;;
}

.greeting{
  display: none;
}

.user_info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-photo{
  width: 30px;
  margin-top: 5px;
}

@media (min-width: $max-screen-size-tablet) {

  header {
    height: 7vh;
  }

  .header-container {
    max-width: 90%;
  }

  .aurora-info{
    display: flex;
    align-items: center;
  }

  .logo-aurora{
    width: 50px;
  }

  .title-dashboard{
    display: block;
    color: $secondary-color;
    font-size: 1.5em;
  }

  .greeting{
    display: block;
    font-size: 1em;
    color: $secondary-color;
    margin-right: 10px;
  }

  .avatar-photo{
    width: 40px;
    margin-top: 10px;
  }

}

@media (min-width: $max-screen-size-laptop) {
  header {
    height: 8vh;
  }
}
