
body{
  font-family: $default-font-family;
  background: linear-gradient(rgb(129, 191, 137), rgb(78, 77, 90));
  height:100vh;
}

.body-dashboard{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main_user{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2% ;

 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.img-logo{
  width: 150px;
}

form{
  display: flex ;
  flex-direction: column;
  width: 40%;
}

.projects_user{
  border: 1.5px solid black;
  margin-top: 2%;
  max-width: 30%;
  margin-right: 2%;
}

.img-project{
  display: flex;

}

.project-info{
  border-bottom: 1.5px solid black;
}

.like-watch{
  display: flex;

}

.like-div{
  display: flex;
}

.timeline-project{
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid black;
}

.number-progress{
  display: flex;

}

.stories-issues{
  display: flex;
}
.progress{
  display: flex;
  flex-direction: column;
}
.line-progress{
  display: flex;
  justify-content: space-between;
}
