
.main_user{
 align-items: center;
 display: flex;
 flex-direction: column;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.img-logo{
  width: 250px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.main-project-description{
  font-size: 1.3em;
}

form{
  display: flex ;
  flex-direction: column;
  width: 40%;
}

@media (min-width: $max-screen-size-tablet) {

  .img-logo{
    width: 300px;
  }

  .main-project-description{
    font-size: 1.8em;
  }
}
