
.body-dashboard{
 margin-top: 0;
 background-color: #EEEEEE;
}

.row{
  display: flex;
  margin-top: 35px;
}

.flex{
  display: flex;
}

.card{
  flex-wrap: wrap;
  max-width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.projects_user{
  background: whitesmoke;
  border: 1px solid rgb(19,100,91);
  border-radius: 7px;
  flex-grow: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 98%;
}

.project-info{
  display: flex;
  flex-direction: column;
  max-height: 170px;
  margin-bottom: 10px;
}

.img-nullProject{
  width: 75px;
}

.img-project{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title{
  margin: 0;
  text-align: center;
  font-weight: 400px;
}

.project-img{
  text-align: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-project{
  margin-top: 10px;
}

.like-div,
.watch-div {
  width: 100px;
  align-items: center;
}

.logolike,
.logowatch{
  padding: 2%;
}

.like-watch{
  margin-top: 10px;
}

.modules-div{
  max-height: 50px;
}

.img-modules{
  width: 16px;
  margin-right: 5px;
}

.timeline-project{
  display: flex;
  flex-direction: row;
  border-top: 1.5px solid rgb(19,100,91);
  border-bottom: 1.5px solid rgb(19,100,91);
  padding-bottom: 7px;
  padding-top: 7px;
  bottom: 40px;
}

.stories-issues{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.progress-stories,
.number-progress{
  line-height: 0.6em;
  align-items: center;
}

.number-stories,
.number-issues{
  font-size: 1.7em;
  margin: 9px 5px;
}

.margin-paragraph{
  margin:0;
}

.progress,
.issues{
  flex-direction: column;
  justify-content: space-around;
}

.line-progress{
  display: flex;
  justify-content: space-between;
}

.sprint-div,
.points-div{
  display: flex;
}

.p-user-stories{
  margin-left: 5px;
}

.progress-bar{
  width: 80%;
  // margin-right: 5px;
  // border-radius: 5px;
  height: 22px;
}

.percentage-bar{
  margin-left: 10px;
  color: $font-color-primary;
}

a{
  text-decoration: none;
}

a:hover,
.project-title:hover{
  background-color: #BFF7E9;
}

@media (min-width: 768px) {

  .card{
    max-width: 85%;
  }

  .projects_user{
    margin-top: 1%;
    // margin-right: 2%;
    width: 45%;
  }

}

@media (min-width:1024px) {
  
  .card{
    max-width: 85%;
  }

  .projects_user{
    width: 31%;
  }

}
