
.row{
  display: flex;
  margin: 35px;
}

.card{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.flex{
  display: flex;
}

.projects_user{
  flex-grow: 0;
  background: whitesmoke;
  border: 3px solid rgb(237,230,117);
  margin: 0;
  margin-top: 1%;
  width: 30%;
  margin-right: 2%;
  border-radius: 7px;
  padding: 15px;
  margin-left: 5px;

}

.project-info{
  display: flex;
  flex-direction: column;
  max-height: 170px;
  margin-bottom: 10px;
}

.img-nullProject{
width: 75px;
}

.img-project{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title{
  margin: 0;
  text-align: center;
  font-weight: 400px;
  margin-bottom: 10px;
}

.project-img{
  text-align: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like-div,
.watch-div {
  width: 100px;
  align-items: center;
}

.logolike,
.logowatch{
  padding: 2%;
}

.like-watch{
  margin-top: 10px;
}

.modules-div{
  max-height: 50px;
}

.timeline-project{
  display: flex;
  flex-direction: row;
  border-top: 1.5px solid rgb(237,230,117);
  border-bottom: 1.5px solid rgb(237,230,117);
  padding-bottom: 7px;
  padding-top: 7px;
  bottom: 40px;
}

.stories-issues{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.progress-stories,
.number-progress{
  line-height: 0.6em;
}

.number-stories,
.number-issues{
  font-size: 1.5em;
  margin: 9px 5px;
}

.margin-paragraph{
  margin:0;
}

.progress{
  flex-direction: column;
}

.line-progress{
  display: flex;
  justify-content: space-between;
}

.sprint-div,
.points-div{
  display: flex;
}

.progress-bar{
width: 80%;
margin-right: 5px;
border-radius: 5px;
height: 22px;
// background-color: $font-color-primary;
}

a{
  text-decoration: none;
}

a:hover,
.project-title:hover{
  background-color: yellow;
}
