input{
  margin-bottom: 10px;
  padding: 3%;
}
.login-button {
  background-color: rgb(91,130,0);
  border: none;
  color: $primary-color;
}
.login-button:hover{
  background-color: rgb(157,206,10);
}
