.row{
  display: flex;
  margin: 35px;
}

.column{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  width: 30%;
  padding-right: 10px;
}

.flex{
  display: flex;
}

.project_user{
  background: whitesmoke;
  color: rgb(19,100,91);
  border: 3.5px solid rgb(237,230,117);
  margin-top: 1%;
  width: 100%;
  height: 95%;
  margin-right: 2%;
  border-radius: 7px;
  padding: 15px;
  margin-left: 5px;
}

.img-project {
  max-width: 90px;
  height: 85px;
}

.project-title {
  font-size: 1.2em;
  position: relative;
  top:0px;
  left:95px;
  top: -70px;
}

.description-project{
  position: relative;
  bottom: 10px;
}

.timeline-project{
  flex-direction: column;
  border-top: 1.5px solid rgb(237,230,117);
  border-bottom: 1.5px solid rgb(237,230,117);
  padding-bottom: 7px;
  padding-top: 7px;
  position: relative;
  bottom: 40px;
}

.like{
  margin-left: 10px;
  position: relative;

}
.like-watch{
  position: relative;
}
.watch{
  margin-left: 10px;
  position: relative;

}
.logolike{
  width: 16px;
  height: 16px;
}

.logowatch{
  margin-left: 80px;
  height: 22px;

}
.progress-project {
  position: relative;
  bottom: 30px;
}
.progress{
  flex-direction: column;
}
.line-progress{
  justify-content: space-between;
}
.number-stories, .number-issues {
  margin-right: 10px;
}
.number-issues{
  margin-left: 60px;
}

a{
  text-decoration: none;
}
a:hover,
.project-title:hover{
  background-color: yellow;
}
