h1{
font-size: 3em;
margin-bottom: 2%;
color: $primary-color;
}

h2{
  font-size: 1.8em;
  color: $primary-color;
}

.h2-index2{
  font-size: 0.9em;
}

h4{
  margin-bottom: 0;
}

h5 {
  margin-top: 0;  
}
