h1{
font-size: 3em;
margin-bottom: 2%;
color: $primary-color;
}

h2{
  color: $primary-color;
}

h3{
  font-size: 2em;
  color: rgb(19,100,91);
  font-weight: 600;
}

.h3-index2 {
  margin-top:  5px;
  margin-left: 200px;
}

.h4-index2{
  font-size: 1.4em;
  color: $primary-color;
  margin-top: 10px;
  margin-bottom: 5px;
}

h5 {
  margin-top: 0;
}

.project-info{
  font-size: 1.6em;
  font-weight: 400;
}

small, p {
  font-size: 14px;
  margin: 0;
}

.number-stories, .number-issues {
  font-size: 1.2em;
}
