
$default-font-family:'Roboto', sans-serif;
$primary-color: rgb(19,100,91);
$secondary-color: white;
$button-background-color: rgb(91,130,0);
$button-background-color-hover: rgb(157,206,10);
$tooltip-background-color: #C4BEBE;
$card-background-color: whitesmoke;
$hover-a-background-color: #BFF7E9;
$max-screen-size-tablet: 768px;
$max-screen-size-laptop: 1024px;
