
h2{
  font-size: 1.7em;
  color: $secondary-color;
}

h5{
  font-size: 1.6em;
  color: $primary-color;
}

h3{
  margin: 5px;
  color: $primary-color;
}

small{
  font-size: 1em;
  color: $primary-color;
}

p{
color: $primary-color;
}
