* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Abel", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#ecd336), to(#008fb7));
  background: linear-gradient(#ecd336, #008fb7);
  background-size: 100%;
  background-repeat: no-repeat; }

.body-dashboard {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.img-logo {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 60px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%; }

input {
  margin-bottom: 10px;
  padding: 3%; }

.login-button {
  background-color: #5b8200;
  border: none;
  color: white; }

.login-button:hover {
  background-color: #9dce0a; }

header {
  width: 100%;
  height: 15%;
  background-color: #45b4ab;
  -webkit-box-shadow: -7px -16px 161px 16px rgba(0, 0, 0, 0.67);
          box-shadow: -7px -16px 161px 16px rgba(0, 0, 0, 0.67); }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.greeting {
  padding: 10px; }

.user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.projects_user {
  background: whitesmoke;
  color: #13645b;
  border: 3px solid #ede675;
  margin-top: 1%;
  width: 30%;
  height: 95%;
  margin-right: 2%;
  border-radius: 7px;
  padding: 15px;
  margin-left: 5px; }

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.project-img {
  width: 100%; }

a {
  text-decoration: none; }

a:hover,
.project-title:hover {
  background-color: yellow; }

/*# sourceMappingURL=styles.css.map */