* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Abel", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#ecd336), to(#008fb7));
  background: linear-gradient(#ecd336, #008fb7);
  background-size: 100%;
  background-repeat: no-repeat; }

.body-dashboard {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.main_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.img-logo {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 60px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%; }

h5 {
  font-size: 1.7em;
  color: #13645b; }

h3 {
  margin: 5px;
  color: #13645b; }

small {
  font-size: 1em;
  color: #13645b; }

p {
  color: #13645b; }

input {
  margin-bottom: 10px;
  padding: 3%; }

.login-button {
  background-color: #5b8200;
  border: none;
  color: white; }

.login-button:hover {
  background-color: #9dce0a; }

header {
  width: 100%;
  height: 12%;
  background-color: #45b4ab;
  -webkit-box-shadow: -7px -16px 161px 16px rgba(0, 0, 0, 0.67);
          box-shadow: -7px -16px 161px 16px rgba(0, 0, 0, 0.67); }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.title-dashboard {
  font-size: 1.7em;
  color: white; }

.greeting {
  font-size: 1em;
  margin-right: 10px;
  color: white; }

.user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.avatar-photo {
  width: 50px;
  margin-top: 5px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px; }

.card {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.projects_user {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: whitesmoke;
  border: 3px solid #ede675;
  margin: 0;
  margin-top: 1%;
  width: 30%;
  margin-right: 2%;
  border-radius: 7px;
  padding: 15px;
  margin-left: 5px; }

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 170px;
  margin-bottom: 10px; }

.img-nullProject {
  width: 75px; }

.img-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.project-title {
  margin: 0;
  text-align: center;
  font-weight: 400px;
  margin-bottom: 10px; }

.project-img {
  text-align: center; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.like-div,
.watch-div {
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logolike,
.logowatch {
  padding: 2%; }

.like-watch {
  margin-top: 10px; }

.modules-div {
  max-height: 50px; }

.timeline-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1.5px solid #ede675;
  border-bottom: 1.5px solid #ede675;
  padding-bottom: 7px;
  padding-top: 7px;
  bottom: 40px; }

.stories-issues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px; }

.progress-stories,
.number-progress {
  line-height: 0.6em; }

.number-stories,
.number-issues {
  font-size: 1.5em;
  margin: 9px 5px; }

.margin-paragraph {
  margin: 0; }

.progress {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.line-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sprint-div,
.points-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.progress-bar {
  width: 80%;
  margin-right: 5px;
  border-radius: 5px;
  height: 22px; }

a {
  text-decoration: none; }

a:hover,
.project-title:hover {
  background-color: yellow; }

/*# sourceMappingURL=styles.css.map */